<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hospital.Properties.Settings.ejercicio_hospitalConnectionString"
            connectionString="Data Source=CADAVILES03\SQLEXPRESS;Initial Catalog=ejercicio_hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>